<% include header %>

<%
for (var hist in history) { %>
<p><tt><%=hist %></tt>
<code>oc&nbsp;<%=history[hist].command%></code><br />
<code><%=history[hist].stdout%></code>
</p>

<%
}
%>

<% include footer %>
