<% include header %>

<%
for (var hist in history) { %>
<p><tt><%=hist %></tt>
<code>oc&nbsp;<%=history[hist].command%></code><br />
<tt><%=history[hist].stdout.replace('\n','<br />')%></tt>
</p>

<%
}
%>

<% include footer %>
